### Import modules

In [65]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np 
import pandas as pd 
import sklearn
%matplotlib inline

In [3]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [14]:
data = "car_evaluation.csv"
df = pd.read_csv(data, header=None)
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

### Exploratory data analysis

In [9]:
# dimensions of the data 
df.shape

(1728, 7)

In [12]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')

#### Rename the column names

In [16]:
    col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']
    col_names

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

In [17]:
df.columns = col_names

In [18]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

#### View sumary of dataset

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

#### Frequency distribution of values in variables

In [26]:
for col in col_names:
    print(df[col].value_counts())

vhigh    432
high     432
med      432
low      432
Name: buying, dtype: int64
vhigh    432
high     432
med      432
low      432
Name: maint, dtype: int64
2        432
3        432
4        432
5more    432
Name: doors, dtype: int64
2       576
4       576
more    576
Name: persons, dtype: int64
small    576
med      576
big      576
Name: lug_boot, dtype: int64
low     576
med     576
high    576
Name: safety, dtype: int64
unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

From above we see that doors and persons are categorical in nature, so we treat them as categorical varibales <br>
All the variables are of categorical data type <br>
class is our target varible

#### Explore 'class' variable 

It is ordinal is nature

In [42]:
df['class'].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

#### Missing values

In [44]:
df.isna().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

### Declare feature vector and target varible

In [52]:
X= df.drop(['class'], axis=1)
y=df['class']

### Split data into training and test data

In [53]:
## WE SPLIT Z AND Y INTO TRAINING AND TESTING

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.33, random_state=42)

In [57]:
## check teh shape of x_train and x_test
print ("X_train_shape : ", X_train.shape)
print ("X_test_shape : ", X_test.shape)

X_train_shape :  (1157, 6)
X_test_shape :  (571, 6)

### Feature Engineering

Feature Engineering is the process of transforming raw data into useful features that help us to understand our model better and increase its predictive power. <br> 
We carry out feature engineering on different types of variables.<br>

First, we will check the data types of variables again.<br>

#### Check data type of X_train

In [59]:
X_train.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
dtype: object

#### Encode the categoical variabes

In [60]:
X_train.head()

     buying  maint  doors persons lug_boot safety
48    vhigh  vhigh      3    more      med    low
468    high  vhigh      3       4    small    low
155   vhigh   high      3    more    small   high
1721    low    low  5more    more    small   high
1208    med    low      2    more    small   high

In [61]:
## we see all variabels are of ordinal categorical type

In [66]:
import category_encoders as ce

ModuleNotFoundError: No module named 'category_encoders'